{{!-- <h1>{{title}}</h1> --}}
<header>
  <div class="container">
    <div class="header__inner">
      <h1>Categories</h1>
        <ul>
          {{#each products}}
          {{title: "Otkan kunlar"}}
          {{description: "Otkan kunlar kitobi "}}
          {{price: 55000}}
          {{rating: 10}}
          {{brend: "Shifo nashr"}}
          {{/each}}
        </ul>
    </div>
  </div>
</header>
