<h1>{{product.title}}</h1>
<img src="/uploads/{{product.image_url}}" alt="{{product.title}}" />
<p>Ta'rifi: {{product.description}}</p>
<p>Narxi: {{product.price}} so'm</p>
<p>Reytingi: {{product.rating}}</p>
<p>Ombordagi mavjudlik: {{product.count}}</p>
